@using KTSite.Utility
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3" style="height:70px">
            <div class="container-fluid p-2">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/Images/sitelogo.jpeg" alt="Site Logo" style="height:50px; width: 50px" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" style="font-size:20px">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Categories/Products
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Orders
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ChinaOrder" asp-action="Index">China Orders</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="OrderAdmin" asp-action="Index">Orders</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ArrivingFromChinaAdmin" asp-action="Index">Shipments Arrived Warehouse</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Stores
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="AdminStore" asp-action="Index">Admin Stores</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="AdminStore" asp-action="AllUsersStores">Users Stores</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Payments
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="PaymentSentAddress" asp-action="Index">List Of Payments Addresses</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="PaymentBalance" asp-action="Index">Balance For All Users</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="PaymentHistory" asp-action="Index">Approve Payments</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="PaymentHistory" asp-action="PayWarehouse">Pay Warehouse</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Customer Service
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Complaints" asp-action="Index">Tickets</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Refund" asp-action="Index">Refunds</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="ReturnLabel" asp-action="Index">Return Labels</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Notification" asp-action="Index">Notifications</a>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="UserGuideline" asp-action="Index">User Guideline</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="InventoryAnalysis" asp-action="Index">Check Inventory</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="ProductStatistics" asp-action="Index">Product Statistics</a>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Users))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="UserRole" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="UserRole" asp-controller="ShowAllProductsUser" asp-action="Index">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="UserRole" asp-controller="Order" asp-action="Index">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="UserRole" asp-controller="UserStoreName" asp-action="Index">My Stores</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Payments
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="UserRole" asp-controller="PaymentSentAddress" asp-action="Index">Payment Type</a>
                                    <a class="dropdown-item" asp-area="UserRole" asp-controller="PaymentHistory" asp-action="Index">Payment List</a>
                                    <a class="dropdown-item" asp-area="UserRole" asp-controller="PaymentHistory" asp-action="AddPayment">Create Payment</a>
                                    @*<div class="dropdown-divider"></div>*@
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Support
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="UserRole" asp-controller="Complaints" asp-action="Index">Tickets</a>
                                    <a class="dropdown-item" asp-area="UserRole" asp-controller="ReturnLabel" asp-action="Index">Returns</a>
                                    <a class="dropdown-item" asp-area="UserRole" asp-controller="UserGuideline" asp-action="Index">User Guideline</a>
                                    @*<div class="dropdown-divider"></div>*@
                                </div>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_VAs))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="VAs" asp-controller="OrderVA" asp-action="Index">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="VAs" asp-controller="Complaints" asp-action="Index">Tickets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="VAs" asp-controller="ReturnLabel" asp-action="Index">Return Labels</a>
                            </li>
                        }
                        @if (User.IsInRole(SD.Role_Warehouse))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Warehouse" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Warehouse" asp-controller="OrderWarehouse" asp-action="Index">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Warehouse" asp-controller="Product" asp-action="Index">Weight</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Warehouse" asp-controller="ReturningItem" asp-action="Index">Inventory Update</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Support
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="Warehouse" asp-controller="Complaints" asp-action="Index">Tickets</a>
                                    <a class="dropdown-item" asp-area="Warehouse" asp-controller="ReturnLabelWarehouse" asp-action="Index">Return Labels</a>
                                    @*<div class="dropdown-divider"></div>*@
                                </div>
                            </li>
                                <li class="nav-item">
                                <a class="nav-link" asp-area="Warehouse" asp-controller="PaymentHistory" asp-action="Index">Payments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Warehouse" asp-controller="ArrivingFromChina" asp-action="Index">Shipment From China</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-white-50 bg-primary">
        <div class="container-fluid">
            &copy; 2020 - KT AT Online Marketing LTD
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://kit.fontawesome.com/e19c476714.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
